<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="<%= url("styles.css") %>" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bad+Script&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
 <div class="home-container">
 <h1 class="greeter">Welcome to Chitter</h1>
 <form class="go-peeps" action="/feed" >
 <input class="go-to-feed" type="submit" name="Let's peep!" value="Let's peep!" >
 </form>
 <footer>
  <div class="credit">
      <p>&copy; Michael Jeuga &nbsp;-&nbsp; Blue March 2021.</p>
    </div>
</footer>
 </div>
</body>
</html>